h1 {
    text-align: center;
    color: blueviolet;
}
.image
{
 height: 300px; 
 width: 300px;  
 margin: 25px 50px 75px 500px;
}
.me {
    color:green;
}
.img{
    margin: 25px 25px 25px 25px;
}
.projects{
    margin: 25px 25px 25px 25px; 
}